.title {
    font-family: 'Train One',
        cursive;
}

a {
    text-decoration: none!important;
}

/*-----------------------------------
掲示板エリア
-----------------------------------*/

article {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

article.reply {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
}

article.reply::before {
    position: absolute;
    top: -10px;
    left: 20px;
    display: block;
    content: "";
    border-top: none;
    border-left: 7px solid #f7f7f7;
    border-right: 7px solid #f7f7f7;
    border-bottom: 10px solid #fff;
}

.info {
    margin-bottom: 10px;
}

.info h2 {
    display: inline-block;
    margin-right: 10px;
    color: #222;
    line-height: 1.6em;
    font-size: 150%;
}

.info time {
    color: #999;
    line-height: 1.6em;
    font-size: 90%;
}

article p {
    color: #555;
    font-size: 100%;
    line-height: 1.6em;
}

@media only screen and (max-width: 1000px) {

    input[type="text"] {
        width: 100%;
    }

    textarea {
        width: 100%;
        max-width: 100%;
        height: 70px;
    }
}